/* START HOME SECTION  */
.main {
    height: 100vh;
    background: url(images/hero-bg.jpg);
    background-size: cover;
    background-position: center center;
}
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.navbar {
    /* margin: 0px -12px; */
    background-color: rgba(0,0,0,0.5) !important;

}
.logo a {
    font-size: 28px;
    color: white;
    text-decoration: none;
}
.links a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    position: relative;
}
.links a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 5px;
    width: 0;
    background-color: #fff;
    visibility: hidden;
    transition: all 0.3s;
}
.links li:hover  a::after{
    visibility: visible;
    width: 80%;
}
.links li {
    padding: 10px 0 10px 30px;
}
/* END HOME SECTION   */