body {
    font-family: 'Roboto', sans-serif;
}


/* START MAIN SECTION  */
.main {
    height: 100vh;
    background-image: url(images/hero-bg.jpg);
    background-size: cover;
    background-position:center center;
}

.main .overlay {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}
.main .navbar {
    background-color: rgba(0,0,0,0.5);
    padding: 20px 0px;
}

.main .navbar .logo a{
    font-size: 28px;
    font-weight: 600;
    color: #fff;

}
.navbar a i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    color: #fff;
}
.navbar ul li > a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 0px 10px !important;
    font-weight: 400;
}



/* END MAIN SECTION  */